/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.loader {
   border: 24px solid;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}
    
@keyframes animloader {
    0% {
      border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
}
    33% {
      border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
}
    66% {
      border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
}
    100% {
      border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
}
}
  
  

.images-form {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 32px;
}

.images-form input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin-bottom: 16px;
  
}
.images-form input:hover {
   border-color: #000;
}

.images-form input:active {
 border-color: #4e75ff;
}

.images-form button {
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background-color: #4E75FF;
color: #FFF;
 border: none;
font-family: Montserrat;
font-size: 16px;
width: 75px;
height: 45px;
}
.form-search button:hover,
.form-search button:focus {
  background-color: #a06cffdc;
}
.js-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.image-gallery {
 list-style: none;
  border: 1px solid #ccc;
  width: 360px;
  transition: transform 0.3s ease;
  border-bottom: none;


}
.gallery-list {
  width: 100%;
  height: calc(100% - 48px);
  object-fit: cover;
}
.gallery-link {
  display: flex;
  justify-content: space-around;
}
.info-title {
   display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 4px;
  padding-bottom: 4px;

}
.info-list {
   font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info-item {
  display: flex;
 
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.load-more {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: #4E75FF;
  color: #FFF;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.load-more:hover{
  background: #6c8cff;
}

.hidden {
  display: none;
}

